{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="http://192.168.1.161">Rekap Sitasi</a>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <h1>Edit Master</h1>
            <form action="{{ content.id_client }}" method="post">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td><label for="nama_master">Nama Master:</label></td>
                            <td><input type="text" id="nama_master" name="nama_master"
                                    value="{{ content.nm_client }}" required=""></td>
                        </tr>
                        <tr>
                            <td><label for="url_master">URL Master:</label></td>
                            <td><input type="text" id="url_master" name="url_master" value="{{ content.url_client }}" required=""></td>
                        </tr>
                        
                        <tr>
                            <td><button type="submit">Update</button></td>
                            <td><a href="javascript:window.history.go(-1);">Kembali</a></td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</body>

</html>